.上課練習 {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;

  position: relative;
  width: 387px;
  height: 272px;
}

.left {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;

  width: 202px;
  height: 272px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.left-inside {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  width: 202px;
  height: 197px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  /* category-image 1 */

  width: 202px;
  height: 181px;
  background-color: #858585;
  background: image("category-image.png");

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Art and humanity */

  width: 102px;
  height: 16px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.left-word {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 22px;

  width: 139px;
  height: 75px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  /* Fiber House */

  width: 139px;
  height: 27px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  /* blablabla... */

  width: 123px;
  height: 26px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;

  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.business-image {
  width: 185px;
  height: 229px;

  background-color: #000000;
  background: url(business-image.png);

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
